<div class="container row " style="padding-top: 6%; padding-right:4%; padding-left:10px;">
    <div class=" bg-info bg-opacity-10 border border-info border-start-0 rounded-end"
        style="padding-top: 20px; padding-right:10%; padding-left:10%;">

        <div class="row text-center" style="align-items: center;">
            <h3 class="bg-primary p-1" style="--bs-bg-opacity: .2; padding-left: 40px; padding-top: 70px;">
                Edit Rent Information</h3>
        </div>

        <div class="row " style="padding-left: 10px;">
            <form action="/rent/{{rent._id}}" method="POST" class="col-md-8 col-lg-8" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="post">
                <!-- 1 Renter Name --->
                <div class="mb-2 row" style="padding-top:20px;">
                    <div class="col-3">
                        <label for="name" class="form-label"> Nama Kireffate:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="renter" name="renter" value="{{rent.renter}}">
                    </div>
                </div>
                <!-- 2 place --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="status" class="form-label">Place :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="status" name="status">
                            <option value="Kombolcha" {{#if (eq rent.status 'Kombolcha' )}}selected{{/if}}>Kombolcha
                            </option>
                            <option value="Harar" {{#if (eq rent.status 'Harar' )}}selected{{/if}}>
                                Harar
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 3 Phone --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="phone" class="form-label">Phone :</label>
                    </div>
                    <div class="col">
                        <input type="tel" class="form-control " id="phone" name="phone" value="{{rent.phone}}">
                    </div>
                </div>
                <!-- 4 Amount in Birr --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="birr" class="form-label">Agreement in Birr:</label>
                    </div>
                    <div class="col">
                        <input type="birr" class="form-control " id="birr" name="birr" value="{{rent.birr}}">
                    </div>
                </div>
                <!-- 5 Bara --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="bara" class="form-label">Bara :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="bara" name="bara">
                            <option value="2016" {{#if (eq rent.status '2016' )}}selected{{/if}}>2016
                            </option>
                            <option value="2017" {{#if (eq rent.status '2017' )}}selected{{/if}}>
                                2017
                            </option>
                            <option value="2018" {{#if (eq rent.status '2018' )}}selected{{/if}}>
                                2018
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 6 Image--->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="image" class="form-label">Change Image :</label>
                    </div>
                    <div class="col">
                        <input type="file" class="form-control" id="image" name="image">
                        {{#if rent.imageBase64}}
                        <img src='data:{{rent.contentType}};base64,{{rent.imageBase64}}' alt="{{rent.name}}"
                            width="100">
                        {{else}}
                        <img src="images/no_image.png" alt="{{rent.name}}" width="100" class="img-thumbnail">
                        {{/if}}
                    </div>
                </div>
                <!-- 7 Month-1 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month1" class="form-label">Month-1 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month1" name="month1">
                            <option value="Paid" {{#if (eq rent.month1 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month1 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!--  7 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body1" class="form-label">Month-1 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body1" class="form-control " id="body1" name="body1" value="{{rent.body1}}">
                    </div>
                </div>
                <!--  8Month-2 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month2" class="form-label">Month-2 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month2" name="month2">
                            <option value="Paid" {{#if (eq rent.month2 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month2 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 8 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body2" class="form-label">Month-2 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body2" class="form-control " id="body2" name="body2" value="{{rent.body2}}">
                    </div>
                </div>
                <!-- 9 Month-3 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month3" class="form-label">Month-3 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month3" name="month3">
                            <option value="Paid" {{#if (eq rent.month3 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month3 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 9 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body3" class="form-label">Month-3 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body3" class="form-control " id="body3" name="body3" value="{{rent.body3}}">
                    </div>
                </div>
                <!-- 10 Month-4 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month4" class="form-label">Month-4 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month4" name="month4">
                            <option value="Paid" {{#if (eq rent.month4 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month4 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 10 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body4" class="form-label">Month-4 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body4" class="form-control " id="body4" name="body4" value="{{rent.body4}}">
                    </div>
                </div>
                <!-- 11 Month-5 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month5" class="form-label">Month-5 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month5" name="month5">
                            <option value="Paid" {{#if (eq rent.month5 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month5 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 11 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body5" class="form-label">Month-5 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body5" class="form-control " id="body5" name="body5" value="{{rent.body5}}">
                    </div>
                </div>
                <!-- 12 Month-6 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month6" class="form-label">Month-6 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month6" name="month6">
                            <option value="Paid" {{#if (eq rent.month6 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month6 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 12 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body6" class="form-label">Month-6 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body6" class="form-control " id="body6" name="body6" value="{{rent.body6}}">
                    </div>
                </div>
                <!-- 13 Month-7 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month7" class="form-label">Month-7 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month7" name="month7">
                            <option value="Paid" {{#if (eq rent.month7 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month7 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 13 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body7" class="form-label">Month-7 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body7" class="form-control " id="body7" name="body7" value="{{rent.body7}}">
                    </div>
                </div>
                <!-- 14 Month-8 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month8" class="form-label">Month-8 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month8" name="month8">
                            <option value="Paid" {{#if (eq rent.month8 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month8 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 14 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body8" class="form-label">Month-8 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body8" class="form-control " id="body8" name="body8" value="{{rent.body8}}">
                    </div>
                </div>
                <!-- 15 Month-9 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month9" class="form-label">Month-9 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month9" name="month9">
                            <option value="Paid" {{#if (eq rent.month9 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month9 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 15 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body9" class="form-label">Month-9 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body9" class="form-control " id="body9" name="body9" value="{{rent.body9}}">
                    </div>
                </div>
                <!-- 16 Month-10 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month10" class="form-label">Month-10 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month10" name="month10">
                            <option value="Paid" {{#if (eq rent.month10 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month10 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 16 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body10" class="form-label">Month-10 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body10" class="form-control " id="body10" name="body10" value="{{rent.body10}}">
                    </div>
                </div>
                <!-- 17 Month-11 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month11" class="form-label">Month-11 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month11" name="month11">
                            <option value="Paid" {{#if (eq rent.month11 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month11 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 17 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body11" class="form-label">Month-11 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body11" class="form-control " id="body11" name="body11" value="{{rent.body11}}">
                    </div>
                </div>
                <!-- 18 Month-12 --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="month12" class="form-label">Month-12 :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="month12" name="month12">
                            <option value="Paid" {{#if (eq rent.month12 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq rent.month12 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 18 Note --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="body12" class="form-label">Month-12 Note:</label>
                    </div>
                    <div class="col">
                        <input type="body12" class="form-control " id="body12" name="body12" value="{{rent.body12}}">
                    </div>
                </div>


                <!-- 19 Action--->
                <div class="mb-2" style="padding-left: 120px;">
                    <input style="padding-left: 10%; padding-right: 10%;" type="submit" value="Save"
                        class="btn btn-primary">
                    <a style="padding-left: 10%; padding-right: 10%;" href="/rents" class="btn btn-warning">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>