<div class="pagetitle">
    <h1>See Detail of Renter from Sena Business Building</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Rent</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="row">
        <div class="col-md-8" style="padding-right: 50px; padding-left: 50px;">
            <div class="row">
                <div class="col text-end">
                    <h3>{{rent.name}}</h3>
                </div>
                <div class="col">
                    <a href="/rent/edit/{{rent._id}}" class="btn p-1 btn-float text-primary">
                        <i class="fas fa-edit fa-2x mx-1"></i>
                    </a>
                </div>
            </div>
            {{!-- 1 Image --}}
            <div class="card ">
                {{#if rent.imageBase64}}
                <img src='data:{{rent.contentType}};base64,{{rent.imageBase64}}' width="auto" height="230"
                    class="rent image">
                {{else}}
                <img src="images/no_image.png" width="auto" height="230" class="img-thumbnail">
                {{/if}}
            </div>

            <div class="p-3 card rent">
                <div class="card-content">
                    {{!--1 Renter Name --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Renter Name :</span>
                        <span style="padding-left: 40px;">{{rent.renter}}</span>
                    </div>
                    <hr>
                    {{!--2 Place --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Place : </span>
                        <span
                            style="{{#eq rent.place 'Paid'}}color: #f2e2bf;{{else}}color: #d1e47e;{{/eq}}; padding-left: 40px;">
                            {{rent.place}}
                        </span>
                    </div>
                    {{!-- 3 phone --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Phone : </span>
                        <span style="padding-left: 40px;">
                            <a href="tel:  {{rent.phone}} ">
                                {{rent.phone}}
                            </a>
                        </span>
                    </div>
                    {{!-- 4 Birr --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Amount Of Agreement in Birr :</span>
                        {{rent.birr}}</a>
                    </div>
                    {{!-- 5 Bara --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Bara :</span>
                        {{rent.bara}}</a>
                    </div>
                    {{!-- 6 month1 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-1 : </span>
                        <span
                            style="{{#eq rent.month1 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month1}}
                        </span>
                    </div>
                    {{!-- 6 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body1 }}</span>
                    </div>
                    {{!-- 7 month2 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-2 : </span>
                        <span
                            style="{{#eq rent.month2 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month2}}
                        </span>
                    </div>
                    {{!-- 7 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body2 }}</span>
                    </div>
                    {{!-- 8 month3 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-3 : </span>
                        <span
                            style="{{#eq rent.month3 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month3}}
                        </span>
                    </div>
                    {{!-- 8 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body3 }}</span>
                    </div>
                    {{!-- 9 month4 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-4 : </span>
                        <span
                            style="{{#eq rent.month4 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month4}}
                        </span>
                    </div>
                    {{!-- 9 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body4 }}</span>
                    </div>
                    {{!-- 10 month5 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-5 : </span>
                        <span
                            style="{{#eq rent.month5 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month5}}
                        </span>
                    </div>
                    {{!-- 10 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body5 }}</span>
                    </div>
                    {{!-- 11 month6 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-6 : </span>
                        <span
                            style="{{#eq rent.month6 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month6}}
                        </span>
                    </div>
                    {{!-- 11 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body6 }}</span>
                    </div>
                    {{!-- 12 month7 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-7 : </span>
                        <span
                            style="{{#eq rent.month7 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month7}}
                        </span>
                    </div>
                    {{!-- 12 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body7 }}</span>
                    </div>
                    {{!-- 13 month8 --}}
                    <div style="padding-left: 50px; padding-top: 20px; ">
                        <span>◇ Month-8 : </span>
                        <span
                            style="{{#eq rent.month8 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month8}}
                        </span>
                    </div>
                    {{!-- 13 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body8 }}</span>
                    </div>
                    {{!-- 14 month9 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-9 : </span>
                        <span
                            style="{{#eq rent.month9 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month9}}
                        </span>
                    </div>
                    {{!-- 14 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body9 }}</span>
                    </div>
                    {{!-- 15 month10 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-10 : </span>
                        <span
                            style="{{#eq rent.month10 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month10}}
                        </span>
                    </div>
                    {{!-- 15 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body10 }}</span>
                    </div>
                    {{!-- 16 month11 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-11 : </span>
                        <span
                            style="{{#eq rent.month11 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month11}}
                        </span>
                    </div>
                    {{!-- 16 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body11 }}</span>
                    </div>
                    {{!-- 17 month12 --}}
                    <div style="padding-left: 50px; padding-top: 20px;">
                        <span>◇ Month-12 : </span>
                        <span
                            style="{{#eq rent.month12 'Paid'}}color: #28a745;{{else}}color: #ff0000;{{/eq}}; padding-left: 40px;">
                            {{rent.month12}}
                        </span>
                    </div>
                    {{!-- 17 Note --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Note :</span>
                        <span>{{stripTags body12 }}</span>
                    </div>

                    {{!--18 Registered Date --}}
                    <div style="padding-left: 50px;">
                        <span>◇ Registered Date : </span>
                        <span style="padding-left: 40px;"> {{formatDate rent.createdAt 'MMMM Do YYYY, h:mm:ss
                            a'}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="padding-left: 45px; padding-right: 45px; padding-top: 25px; ">
            <div class="card text-center">
                <div class="card-content">
                    <div style="padding-top: 10px;">
                        <span class="card-title">{{rent.user.displayName}}</span>
                    </div>
                    <div style="padding: 7px;">
                        <img src="{{rent.user.image}}" class="rounded-circle responsive-img img-small"
                            alt="rent poster image" style="height: 150px; width: 150px;">
                    </div>
                    <hr>
                    <div class="card-action" style="padding-bottom: 13px;">
                        <button type="button" class="btn  btn-primary link-unstyled text-decoration-none"
                            style="background-color: #3498db; border-color: #3498db; "
                            onmouseover="this.style.backgroundColor='#2980b9'"
                            onmouseout="this.style.backgroundColor='#3498db'"
                            onclick="window.location.href='/rent/user/{{rent.user._id}}'">
                            More From {{rent.user.firstName}}
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>