<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h2 data-aos="fade-up"> Waajjira Galii Daldalaa Aanaa Kombolchaa</h2>
                <p data-aos="fade-up" data-aos-delay="100">
                    "Waajjirri Galii Daldalaa Aanaa Kombolchaa qaama bulchiinsa naannoo ta’ee itti gaafatamummaa
                    gibira daldalaa fi sassaabbii galii godinicha keessatti bulchuuf itti gaafatamummaa qabu ta’ee
                    tajaajila. Waajjirri keenya dambiiwwan gibiraa akka kabajaman mirkaneessuu, galii haqa qabeessa
                    ta’e walitti qabuuf haala mijeessuu, akkasumas jalqabbii misooma dinagdee biyya keessaa
                    deeggaruun gahee murteessaa qaba. Qajeelfama kennuu, kaffaltii adeemsisuuf, fi gaaffii gibira
                    daldalaa wajjin walqabatee jiru kamiyyuu furuuf dhaabbilee daldalaa fi kaffaltoota gibiraa
                    waliin walitti dhiyeenyaan hojjenna. Ergamni keenya sirna galii iftoominaa fi gahumsa qabuu fi
                    guddina itti fufiinsa qabuu fi badhaadhina Aanaa Kombolchaaf gumaachu horachuu dha."
                </p>

            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" style="padding-top: 100px;">
                <img src="image/waajjira-galii-tran.png" class="img-fluid mb-3 mb-lg-0" alt="">
            </div>

        </div>
    </div>
</section>
<!-- End Hero Section -->



<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Daldalaa <span>| Total</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                    <h6 id="totalBirr"></h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->

                <!-- Bought Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Hojjattoota <span>| Total</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Sales Card -->


                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">


                        <div class="card-body">
                            <h5 class="card-title">Reports <span>| Total</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>1244</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->


                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h5 class="card-title">Recently Registered</h5>
                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Daldalaa</th>
                                        <th scope="col">Garee Daldalaa</th>
                                        <th scope="col">Gibira Waggaa</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each sell}}
                                    {{#if @indexLessThan 5}} <!-- Limit loop to last 5 sells -->
                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>{{daldalaa}}</td>
                                        <td>{{gareedaldalaa}}</td>
                                        <td>{{gibirawaggaa}}</td>
                                        <td>{{phone}}</td>
                                        <td>{{status}}</td>

                                    </tr>
                                    {{/if}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="card-body">
                            <h5 class="card-title">Recent Reports </h5>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Dhimma</th>
                                        <th scope="col">maqaa</th>
                                        <th scope="col">ergaa</th>
                                        <th scope="col">guyyaa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><a href="#">#2457</a></th>
                                        <td>ismail jemal</td>
                                        <td>Rakkoo numudate</td>
                                        <td><a href="#" class="text-primary">At praesentium minu</a></td>
                                        <td>2016</td>

                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2147</a></th>
                                        <td>Bahar Kassim</td>
                                        <td>Rakkoo numudate</td>
                                        <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a>
                                        </td>
                                        <td>47</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2049</a></th>
                                        <td>Abdi Lami</td>
                                        <td>Rakkoo numudate</td>
                                        <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                                        <td>2014</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Jemal Grady</td>
                                        <td>Rakkoo numudate</td>
                                        <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                                        <td>2016</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->

            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">




            <!-- News & Updates Traffic -->
            <div class="card">


                <div class="card-body pb-0">
                    <h5 class="card-title">News &amp; Updates </h5>

                    <div class="news">
                        <div class="post-item clearfix">
                            <img src="/img/news-1.jpg" alt="">
                            <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                            <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="/img/news-2.jpg" alt="">
                            <h4><a href="#">Quidem autem et impedit</a></h4>
                            <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="/img/news-3.jpg" alt="">
                            <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                            <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="/img/news-4.jpg" alt="">
                            <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                            <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="/img/news-5.jpg" alt="">
                            <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                            <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...
                            </p>
                        </div>

                    </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

    </div>
</section>