<!-- Include jQuery -->
<script src="path/to/jquery-3.6.4.min.js"></script>

<!-- Include DataTables -->
<script src="path/to/jquery.dataTables.min.js"></script>


<div style="z-index: 100; position:fixed;">
    {{> _addnews}}
</div>
<div class="pagetitle">
    <h1> Boardcasted News </h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Worker</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"
    integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


<div style="padding: 5px;">

    <div class="row" style="padding-top: 60px;">
        <div class="col">
            <h4 style="padding-left: 50px;">Welcome {{name}}</h4>
        </div>
    </div>


    {{#if news}}
    <table class="table table-striped w-100" id="data_news">
        <thead class="bg-secondary">
            <tr>
                <th>No. </th>
                <th class="text-center">Image </th>
                <th class="text-center">Title</th>
                <th class="text-center">Body</th>
                <th class="text-center">Date</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>
            {{#each news as |row index|}}
            <tr style="text-align:center;">
                <td style="padding: 2px;">{{index}}</td>
                {{!-- 1 image --}}
                <td style="padding: 2px;">
                    {{#if row.imageBase64}}
                    <a href="data:{{row.contentType}};base64,{{row.imageBase64}}" data-gallery="portfolio-gallery-app"
                        class="glightbox img-fluid post-author-img flex-shrink-0">
                        <img src='data:{{row.contentType}};base64,{{row.imageBase64}}' alt="news image"
                            class="img-fluid" width="50">
                    </a>
                    {{else}}
                    <img src="images/no_image.png" width="50" class="img-thumbnail">
                    {{/if}}
                </td>
                {{!-- 2 title --}}
                <td style="padding: 2px;"><a href="/news/{{row._id}}">{{row.title}}</a></td>
                {{!-- 3 Body --}}
                <td class="card-body card-text text-center">
                    <p class="card-title">{{stripTags (truncate row.body 50)}}</p>
                </td>
                {{!-- 4 Date --}}
                <td style="padding: 2px;">{{formatDate row.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                {{!-- 5 Action --}}
                <td style="padding: 2px;">
                    <div style="display: grid; gap: 1px; grid-template-columns: repeat(3, 1fr)">
                        <div>
                            <a href="/news/{{row._id}}" class="btn p-2 btn-float  text-primary">
                                <i class="fas fa-eye fa-lg mx-1" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div>
                            <a href="/news/edit/{{row._id}}" class="btn p-2 btn-float  text-success">
                                <i class="fas fa-edit fa-lg mx-1"></i>
                            </a>
                        </div>
                        <div>
                            <form action="/news/{{row._id}}" method="POST" id="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn text-danger">
                                    <i class="fas fa-trash fa-lg mx-1"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>

    {{else}}
    <p>There is no News Broadcasted yet</p>
    <div class="col-md-3" style="padding-top: 42px;">
        <a href="/news/create" class="btn bg-primary text-white">Broadcast News</a>
    </div>
    {{/if}}

</div>