<div class="pagetitle">
    <h1> Material Selled to Customer by Sena Business</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Sell</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<div class="row" style="padding: 5px; ">
    <div class="col-3">
        <h3 class="display-6 " style=" padding-top:35px; padding-bottom:20px; padding-left:30px;">Sells</h3>
    </div>

    <div class="col">
        <form id="search-site" action='/sell/search/:query' method='get' class="mb-4"
            style="padding-left: 100px; padding-right: 100px;">
            <div class="input-group" style="padding-top: 30px;">
                <span class="input-group-text"><i class="fas fa-search fa-lg"></i></span>
                <div class="form-floating">
                    <input id="search" type="search" name='query' class="form-control w-90"
                        placeholder="Search by name">
                    <label for="search">Search</label>
                </div>
                <button type="submit" class="btn btn-primary">Search by name</button>
            </div>
        </form>
    </div>


    <div class="row" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
        {{#each sell as |row index| }}
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-img-top">
                    <a href="/sell/edit/{{row._id}}" class="btn p-2 btn-float  text-success">
                        <i class="fas fa-edit fa-lg mx-1"></i>
                    </a>
                </div>
                {{!-- 1 --}}
                <div class="card ">
                    {{#if imageBase64}}
                    <img src='data:{{contentType}};base64,{{imageBase64}}' width="auto" height="200" class="sell image">
                    {{else}}
                    <img src="images/no_image.png" width="auto" height="200" class="img-thumbnail">
                    {{/if}}
                </div>

                <div class="card-body text-center">
                    {{!-- 2 --}}
                    <p>{{seller}}</p>
                    {{!-- 3 --}}
                    <p>{{buyer_name}}</p>
                    {{!-- 4 --}}
                    <p>{{material}}</p>
                    {{!-- 5 --}}
                    <p>{{kilogram}}</p>
                    {{!-- 6 --}}
                    <p>{{birr}}</p> {{!-- 5 --}}
                    {{!-- 7 --}}
                    <p class="title" style="padding-bottom: 10px;">
                        <a href="/sell/{{row._id}}">
                            <p class="card-text">{{stripTags (truncate row.note 50)}}</p>
                        </a>
                    </p>
                    {{!-- 8 --}}
                    <p>
                        <a href="tel: {{phone}}"> {{phone}}</a>
                    </p>
                    {{!-- 9 --}}
                    <div style="padding-left: 55px;">
                        <p class="card-title p-1 d-block " style="align-items:center;padding-left: 50px; padding-right: 40px;
                        {{#eq row.status 'Paid'}}background-color: #9EE47E;width: 100px;
                        {{else}}background-color: #FF3232; width: 100px;
                        {{/eq}}">
                            <span class="dash-status text-center">
                                {{status}}
                            </span>
                        </p>
                    </div>
                    {{!-- user email --}}
                    {{!-- 10 --}}
                    <p>{{car_id}}</p>

                </div>
                <div class="card-footer text-center">
                    <a href="/sell/{{row._id}}" class="btn btn-secondary">Read More</a>
                </div>
            </div>
        </div>
        {{else}}
        <p class="col-12 text-center">No Bought to display!</p>
        {{/each}}
    </div>
</div>



<!-- Bootstrap and Font Awesome JS dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-xBqEnFk1TC+2s9wAeUnp76cCqA5IcMXYgRVNkd3LQ6ZXfJt3S2x82CUq3uSWq8J6"
    crossorigin="anonymous"></script>