<div class="container" style="padding-top: 85px; padding-bottom: 30px;">
    <div class="row">

        {{!-- Left --}}
        <div class="col-md-8" style="padding-right: 50px; padding-left: 50px;">

            <div class="row">
                <div class="col text-end">
                    <h3>{{note.title}}</h3>
                </div>

                <div class="col">
                    <a href="/note/edit/{{note._id}}" class="btn p-1 btn-float text-primary">
                        <i class="fas fa-edit fa-2x mx-1"></i>
                    </a>
                </div>
            </div>
            <div class="card-content">
                <div style="padding: 7px;">

                    <a href="data:{{note.contentType}};base64,{{note.imageBase64}}" data-gallery="portfolio-gallery-app"
                        class="glightbox img-fluid post-author-img flex-shrink-0">
                        <img src="data:{{note.contentType}};base64,{{note.imageBase64}}" alt="note image"
                            class="img-fluid" style="height: 200px; width: 100%; border-radius:10px;">
                    </a>

                </div>
            </div>


            <div class="p-3 card news">
                <div class="card-content">
                    {{!-- Title --}}
                    <div class="p-2" style="padding-left: 50px;">
                        <span>◇ Title :</span>
                        <span style="padding-left: 40px;">{{note.title}}</span>
                    </div>
                    <hr>

                    {{!-- note --}}
                    <div class="p-2" style="padding-left: 50px;">
                        <span>◇ Note Message :</span>
                        <br>
                        <span style="padding-left: 40px;">{{stripTags note.body}}</span>

                    </div>
                    <hr>
                    {{!-- Broadcasted Date --}}
                    <div class="p-2" style="padding-left: 50px;">
                        <span>◇ Written Date : </span>
                        <span style="padding-left: 40px;"> {{formatDate note.createdAt 'MMMM Do YYYY, h:mm:ss
                            a'}}</span>
                    </div>

                </div>
            </div>
        </div>


        {{!-- Right --}}
        <div class="col-md-4" style="padding-left: 45px; padding-right: 45px; padding-top: 25px; ">
            <div class="card text-center">
                <div class="card-content">
                    <div style="padding-top: 10px;">
                        <span class="card-title">{{note.user.displayName}}</span>
                    </div>
                    <div style="padding: 7px;">
                        <img src="{{note.user.image}}" class="rounded-circle responsive-img img-small"
                            alt="note poster image" style="height: 150px; width: 150px;">
                    </div>

                    <div class="card-action" style="padding-bottom: 13px;">
                        <button type="button" class="btn  btn-primary link-unstyled text-decoration-none"
                            style="background-color: #3498db; border-color: #3498db; "
                            onmouseover="this.style.backgroundColor='#2980b9'"
                            onmouseout="this.style.backgroundColor='#3498db'"
                            onclick="window.location.href='/note/user/{{note.user._id}}'">
                            More From {{note.user.firstName}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>